In [21]:
import pandas as pd

# Replace 'file_path.csv' with the actual path to your CSV file
file_path = '/work/zonghaiyao_umass_edu/SALT/data/AVS/synthetic_data/hight_to_low_dic_5k.json'

# Read the CSV file into a DataFrame
train_df = pd.read_json(file_path)

# Now you can work with the DataFrame 'df'
train_df.head(2)  # Display the first few rows of the DataFrame

,article,chosen,rejected,hallucination_instructions
0,Article:Brief Hospital Course: Pt was given 3 ...,Discharge Instructions: Please call you doctor...,Discharge Instructions: \nPlease call your do...,Numbered List hallucination edits made:\n1. Ad...
1,Article:Brief Hospital Course: An 86-year-old ...,Discharge Instructions: You were admitted for ...,Discharge Instructions: \nAn 86-year-old woma...,Numbered List hallucination edits made:\n1. Ad...

In [22]:
def do_stats(x):
    return len(x.split())

df['len'] = df['chosen'].apply(do_stats)

In [23]:
df['len'].tolist()

[82,
 95,
 74,
 39,
 61,
 77,
 81,
 90,
 33,
 72,
 91,
 84,
 69,
 97,
 81,
 89,
 103,
 94,
 80,
 99,
 41,
 57,
 86,
 62,
 58,
 96,
 87,
 90,
 81,
 82,
 103,
 98,
 70,
 89,
 103,
 76,
 80,
 71,
 52,
 67,
 66,
 96,
 64,
 81,
 81,
 84,
 78,
 60,
 77,
 78,
 68,
 44,
 95,
 58,
 110,
 93,
 38,
 36,
 83,
 75,
 85,
 55,
 74,
 88,
 61,
 83,
 84,
 31,
 94,
 61,
 84,
 33,
 74,
 60,
 72,
 94,
 39,
 74,
 78,
 94,
 41,
 31,
 51,
 75,
 48,
 71,
 77,
 79,
 37,
 68,
 93,
 103,
 109,
 92,
 56,
 82,
 103,
 103,
 69,
 103,
 95,
 106,
 30,
 77,
 87,
 81,
 75,
 61,
 64,
 86,
 58,
 87,
 74,
 40,
 51,
 69,
 89,
 31,
 33,
 93,
 99,
 66,
 97,
 88,
 89,
 79,
 79,
 107,
 74,
 80,
 82,
 45,
 63,
 98,
 44,
 99,
 73,
 92,
 102,
 93,
 91,
 99,
 71,
 82,
 87,
 35,
 100,
 50,
 98,
 77,
 54,
 103,
 81,
 98,
 62,
 86,
 84,
 35,
 97,
 40,
 48,
 91,
 53,
 76,
 80,
 52,
 50,
 106,
 82,
 79,
 81,
 89,
 51,
 96,
 88,
 48,
 100,
 93,
 80,
 95,
 73,
 72,
 36,
 30,
 58,
 80,
 79,
 60,
 83,
 60,
 84,
 92,
 80,
 83,
 71,
 48,
 66,
 88,
 66,
 39,
 91,
 71,
 92,
 45,
 95,
 102,
 66,
 86,
 76,
 90,
 69,
 93,
 70,
 79,
 63,
 51,
 100,
 70,
 39,
 61,
 64,
 94,
 82,
 103,
 79,
 96,
 75,
 47,
 35,
 61,
 60,
 103,
 31,
 82,
 86,
 94,
 77,
 101,
 103,
 65,
 87,
 59,
 87,
 73,
 97,
 67,
 41,
 45,
 33,
 83,
 92,
 95,
 74,
 91,
 51,
 103,
 73,
 83,
 67,
 90,
 61,
 82,
 40,
 78,
 74,
 91,
 47,
 85,
 92,
 64,
 76,
 89,
 84,
 70,
 68,
 99,
 68,
 101,
 109,
 68,
 54,
 91,
 75,
 72,
 103,
 83,
 33,
 59,
 101,
 103,
 53,
 80,
 86,
 97,
 99,
 75,
 83,
 72,
 54,
 44,
 73,
 106,
 45,
 89,
 77,
 38,
 69,
 89,
 81,
 76,
 52,
 73,
 75,
 96,
 74,
 59,
 103,
 35,
 79,
 92,
 92,
 40,
 64,
 93,
 33,
 65,
 42,
 61,
 88,
 103,
 94,
 69,
 96,
 97,
 45,
 38,
 103,
 68,
 78,
 93,
 80,
 104,
 36,
 77,
 103,
 95,
 103,
 54,
 103,
 104,
 42,
 87,
 103,
 103,
 61,
 99,
 58,
 77,
 97,
 80,
 64,
 81,
 77,
 55,
 52,
 69,
 108,
 80,
 77,
 46,
 103,
 89,
 82,
 74,
 56,
 79,
 100,
 67,
 84,
 86,
 62,
 94,
 47,
 48,
 75,
 103,
 103,
 91,
 90,
 34,
 86,
 81,
 104,
 94,
 77,
 89,
 95,
 104,
 48,
 44,
 50,
 97,
 63,
 73,
 47,
 65,
 46,
 85,
 103,
 94,
 91,
 65,
 30,
 94,
 82,
 77,
 68,
 94,
 87,
 83,
 106,
 85,
 101,
 92,
 72,
 89,
 41,
 78,
 84,
 111,
 67,
 75,
 99,
 87,
 74,
 66,
 46,
 60,
 43,
 70,
 65,
 83,
 91,
 40,
 45,
 82,
 72,
 69,
 103,
 87,
 88,
 78,
 83,
 51,
 39,
 68,
 85,
 35,
 50,
 41,
 67,
 56,
 79,
 82,
 100,
 102,
 92,
 106,
 31,
 96,
 85,
 85,
 96,
 77,
 103,
 77,
 34,
 65,
 31,
 59,
 97,
 66,
 103,
 92,
 38,
 82,
 41,
 78,
 103,
 99,
 63,
 66,
 75,
 103,
 30,
 62,
 80,
 82,
 75,
 78,
 73,
 71,
 63,
 104,
 53,
 103,
 102,
 96,
 79,
 103,
 88,
 88,
 101,
 72,
 93,
 35,
 46,
 97,
 66,
 89,
 35,
 60,
 100,
 91,
 35,
 91,
 102,
 53,
 78,
 89,
 30,
 68,
 45,
 89,
 42,
 94,
 99,
 50,
 78,
 68,
 38,
 75,
 88,
 96,
 77,
 104,
 92,
 47,
 104,
 95,
 71,
 90,
 63,
 68,
 93,
 98,
 58,
 70,
 83,
 59,
 82,
 90,
 85,
 97,
 103,
 106,
 70,
 35,
 82,
 40,
 47,
 87,
 107,
 83,
 86,
 40,
 72,
 34,
 67,
 67,
 41,
 81,
 105,
 100,
 38,
 39,
 74,
 30,
 94,
 95,
 54,
 94,
 66,
 85,
 66,
 94,
 99,
 103,
 100,
 110,
 94,
 53,
 99,
 76,
 106,
 82,
 82,
 86,
 71,
 93,
 96,
 60,
 62,
 93,
 95,
 66,
 95,
 70,
 84,
 93,
 75,
 76,
 57,
 99,
 83,
 94,
 45,
 91,
 77,
 75,
 103,
 87,
 71,
 47,
 45,
 94,
 79,
 57,
 103,
 95,
 73,
 36,
 32,
 99,
 69,
 40,
 57,
 75,
 51,
 94,
 111,
 98,
 50,
 58,
 90,
 98,
 97,
 103,
 30,
 51,
 93,
 61,
 54,
 70,
 53,
 93,
 90,
 81,
 68,
 95,
 39,
 74,
 88,
 82,
 88,
 48,
 51,
 93,
 61,
 57,
 80,
 79,
 99,
 70,
 81,
 71,
 48,
 76,
 85,
 74,
 76,
 87,
 83,
 74,
 72,
 63,
 79,
 105,
 87,
 75,
 83,
 94,
 53,
 62,
 87,
 94,
 58,
 66,
 69,
 71,
 90,
 77,
 97,
 61,
 100,
 64,
 87,
 99,
 71,
 96,
 102,
 88,
 47,
 62,
 103,
 88,
 58,
 84,
 88,
 100,
 91,
 86,
 94,
 110,
 96,
 85,
 35,
 89,
 64,
 100,
 95,
 86,
 50,
 82,
 84,
 93,
 95,
 83,
 96,
 100,
 34,
 55,
 101,
 90,
 72,
 37,
 82,
 99,
 93,
 38,
 48,
 94,
 35,
 60,
 53,
 82,
 59,
 102,
 75,
 80,
 62,
 95,
 101,
 88,
 65,
 84,
 72,
 103,
 50,
 55,
 89,
 93,
 110,
 80,
 95,
 77,
 73,
 51,
 31,
 58,
 78,
 66,
 92,
 53,
 31,
 38,
 62,
 92,
 75,
 98,
 88,
 51,
 73,
 79,
 101,
 71,
 58,
 36,
 107,
 30,
 95,
 80,
 78,
 94,
 85,
 63,
 61,
 58,
 76,
 68,
 80,
 92,
 36,
 80,
 101,
 96,
 97,
 49,
 92,
 83,
 81,
 65,
 88,
 114,
 95,
 101,
 51,
 88,
 71,
 86,
 88,
 95,
 70,
 53,
 85,
 99,
 88,
 91,
 47,
 55,
 103,
 61,
 69,
 57,
 91,
 64,
 66,
 47,
 60,
 63,
 81,
 37,
 94,
 99,
 97,
 63,
 75,
 63,
 70,
 87,
 78,
 71,
 57,
 86,
 79,
 75,
 70,
 51,
 68,
 80,
 85,
 79,
 90,
 79,
 46,
 93,
 74,
 92,
 97,
 38,
 73,
 94,
 64,
 56,
 83,
 66,
 67,
 87,
 33,
 95,
 40,
 41,
 90,
 100,
 91,
 107,
 91,
 101,
 60,
 97,
 49,
 100,
 82,
 100,
 96,
 97,
 35,
 80,
 95,
 82,
 46,
 70,
 51,
 66,
 103,
 82,
 51,
 64,
 69,
 79,
 63,
 56,
 102,
 80,
 79,
 100,
 51,
 61,
 70,
 98,
 80,
 81,
 70,
 62,
 95,
 64,
 78,
 77,
 88,
 83,
 74,
 88,
 57,
 73,
 85,
 73,
 87,
 77,
 39,
 82,
 85,
 113,
 93,
 37,
 87,
 95,
 30,
 86,
 95,
 99,
 79,
 67,
 59,
 103,
 61,
 77,
 61,
 80,
 99,
 93,
 59,
 87,
 74,
 63,
 85,
 86,
 69,
 61,
 103,
 58,
 50,
 84,
 83,
 89,
 69,
 66,
 102,
 64,
 37,
 92,
 ...]

In [24]:
# Remove duplicated rows based on the 'Summary' column
train_df = train_df.drop_duplicates(subset=['chosen'], keep='first')

In [25]:
file_path = '/work/zonghaiyao_umass_edu/SALT/data/AVS/valid.json'
eval_df = pd.read_json(file_path, lines=True)

file_path = '/work/zonghaiyao_umass_edu/SALT/data/AVS/test.json'
test_df = pd.read_json(file_path, lines=True)

In [26]:
train_df.to_csv('train.csv', index=False)
eval_df.to_csv('eval.csv', index=False)
test_df.to_csv('test.csv', index=False)

### DPO/SALT

In [30]:
import pandas as pd

train_df = pd.read_csv('train.csv')
eval_df = pd.read_csv('eval.csv')
test_df = pd.read_csv('test.csv')

In [31]:
train_df['chosen'] = train_df['article'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + train_df['chosen']
train_df['rejected'] = train_df['article'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + train_df['rejected']

eval_df['chosen'] = eval_df['text'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + eval_df['summary']
eval_df['rejected'] = eval_df['text'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + eval_df['summary']

test_df['chosen'] = test_df['text'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: "+ test_df['summary']
test_df['rejected'] = test_df['text'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + test_df['summary']

In [32]:
train_df = train_df[['chosen', 'rejected']]
eval_df = eval_df[['chosen', 'rejected']]
test_df = test_df[['chosen', 'rejected']]

In [33]:
sub_eval_df = eval_df.sample(n=128, random_state=42)
sub_eval_df

,chosen,rejected
1801,Brief Hospital Course: Mr. [**Known lastname 4...,Brief Hospital Course: Mr. [**Known lastname 4...
1190,Brief Hospital Course: Patient was admitted fr...,Brief Hospital Course: Patient was admitted fr...
1817,Brief Hospital Course: MEDICINE COURSE: Ms [**...,Brief Hospital Course: MEDICINE COURSE: Ms [**...
251,Brief Hospital Course: Mr. [**Known lastname 6...,Brief Hospital Course: Mr. [**Known lastname 6...
2505,Brief Hospital Course: Admitted same day surge...,Brief Hospital Course: Admitted same day surge...
...,...,...
1770,Brief Hospital Course: Mr. [**Known lastname *...,Brief Hospital Course: Mr. [**Known lastname *...
1200,Brief Hospital Course: Ms. [**Known lastname *...,Brief Hospital Course: Ms. [**Known lastname *...
2174,Brief Hospital Course: Mr. [**Known lastname 1...,Brief Hospital Course: Mr. [**Known lastname 1...
1991,Brief Hospital Course: Mr. [**Known lastname *...,Brief Hospital Course: Mr. [**Known lastname *...
879,Brief Hospital Course: . Myocardial infarction...,Brief Hospital Course: . Myocardial infarction...

In [34]:
from datasets import Dataset

# Convert pandas DataFrames to dictionaries
train_dict = train_df.to_dict(orient='list')
eval_dict = eval_df.to_dict(orient='list')
sub_eval_dict = sub_eval_df.to_dict(orient='list')
test_dict = test_df.to_dict(orient='list')

# Create datasets from dictionaries
train_dataset = Dataset.from_dict(train_dict)
eval_dataset = Dataset.from_dict(eval_dict)
sub_eval_dataset = Dataset.from_dict(sub_eval_dict)
test_dataset = Dataset.from_dict(test_dict)

/work/zonghaiyao_umass_edu/anaconda3/envs/salt/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [35]:
# Replace 'dataset_directory' with the directory where you want to save your datasets
train_dataset.save_to_disk('train')
eval_dataset.save_to_disk('eval')
sub_eval_dataset.save_to_disk('sub_eval')
test_dataset.save_to_disk('test')

Saving the dataset (1/1 shards): 100%|██████████| 4359/4359 [00:02<00:00, 2095.07 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 3000/3000 [00:01<00:00, 2769.96 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 128/128 [00:00<00:00, 4861.42 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 3082/3082 [00:00<00:00, 13537.71 examples/s]

### SFT

In [1]:
import pandas as pd

train_df = pd.read_csv('train.csv')
eval_df = pd.read_csv('eval.csv')
test_df = pd.read_csv('test.csv')

In [2]:
train_df = train_df.dropna()
eval_df = eval_df.dropna()
test_df = test_df.dropna()

In [4]:
train_df['chosen'] = train_df['article'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + train_df['chosen']
train_df['rejected'] = train_df['article'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + train_df['chosen']

eval_df['chosen'] = eval_df['text'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + eval_df['summary']
eval_df['rejected'] = eval_df['text'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + eval_df['summary']

test_df['chosen'] = test_df['text'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: "+ test_df['summary']
test_df['rejected'] = test_df['text'] + "\n\nGenerate the corresponding Discharge Instructions according to the input article: " + test_df['summary']

In [5]:
train_df = train_df[['chosen', 'rejected']]
eval_df = eval_df[['chosen', 'rejected']]
test_df = test_df[['chosen', 'rejected']]

In [6]:
sub_eval_df = eval_df.sample(n=128, random_state=42)
sub_eval_df

,chosen,rejected
1801,Brief Hospital Course: Mr. [**Known lastname 4...,Brief Hospital Course: Mr. [**Known lastname 4...
1190,Brief Hospital Course: Patient was admitted fr...,Brief Hospital Course: Patient was admitted fr...
1817,Brief Hospital Course: MEDICINE COURSE: Ms [**...,Brief Hospital Course: MEDICINE COURSE: Ms [**...
251,Brief Hospital Course: Mr. [**Known lastname 6...,Brief Hospital Course: Mr. [**Known lastname 6...
2505,Brief Hospital Course: Admitted same day surge...,Brief Hospital Course: Admitted same day surge...
...,...,...
1770,Brief Hospital Course: Mr. [**Known lastname *...,Brief Hospital Course: Mr. [**Known lastname *...
1200,Brief Hospital Course: Ms. [**Known lastname *...,Brief Hospital Course: Ms. [**Known lastname *...
2174,Brief Hospital Course: Mr. [**Known lastname 1...,Brief Hospital Course: Mr. [**Known lastname 1...
1991,Brief Hospital Course: Mr. [**Known lastname *...,Brief Hospital Course: Mr. [**Known lastname *...
879,Brief Hospital Course: . Myocardial infarction...,Brief Hospital Course: . Myocardial infarction...

In [7]:
from datasets import Dataset

# Convert pandas DataFrames to dictionaries
train_dict = train_df.to_dict(orient='list')
eval_dict = eval_df.to_dict(orient='list')
sub_eval_dict = sub_eval_df.to_dict(orient='list')
test_dict = test_df.to_dict(orient='list')

# Create datasets from dictionaries
train_dataset = Dataset.from_dict(train_dict)
eval_dataset = Dataset.from_dict(eval_dict)
sub_eval_dataset = Dataset.from_dict(sub_eval_dict)
test_dataset = Dataset.from_dict(test_dict)

/work/zonghaiyao_umass_edu/anaconda3/envs/salt/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [8]:
# Replace 'dataset_directory' with the directory where you want to save your datasets
train_dataset.save_to_disk('ref_train')
eval_dataset.save_to_disk('ref_eval')
sub_eval_dataset.save_to_disk('ref_sub_eval')
test_dataset.save_to_disk('ref_test')

Saving the dataset (1/1 shards): 100%|██████████| 4359/4359 [00:00<00:00, 10141.27 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 3000/3000 [00:00<00:00, 12871.83 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 128/128 [00:00<00:00, 4344.11 examples/s]
Saving the dataset (1/1 shards): 100%|██████████| 3082/3082 [00:00<00:00, 13361.74 examples/s]